body{
font-weight: bold;
	font-family: 'Lato', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration-line: underline;
}
.page{
	margin: 10px 10px 10px 50px;
	width: 770px;
}
.header{
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: #0080BE;
	vertical-align: top;
	padding: 0px 0px 40px 0px;
	font-size: 38.192px;
	line-height: 38.192px;
}
.chapter {
	margin: 0px 0px 5px 0px;
	display: table;
}
.chapter span {
	width: 20px;
	display: table-cell;
	padding: 0px 10px;
	text-align: right;
	font-size: 17px;
}
.chapter span.pageNum {
	text-align: left;
	font-size: inherit;
	display: revert;
}
.part span {
	color: #7A9654;
	margin: 0px 20px 0px 0px;
	font-size: 22px;
}
.part {
	font-size: 20px;
	font-weight: bold;
	padding: 20px 0px 10px 0px;
}
.part::after{
	width: 100%;
	height: 4px;
	display: block;
	border-radius: 2px;
	content: "";
	background-color: #D1D6C0;
}
