<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>Bio book ch%c% intro</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../../intro.css" media="screen" rel="stylesheet" type="text/css" >
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="sidebar">
			<div class="sidebar_button">
				▣
				<div class="sidebar_drop">
					<a href="https://skyjoe999.github.io/Biology-textbook/" target="_blank">TABLE OF CONTENTS</a>
				</div>
			</div>
		</div>
		<div class="section">
			<table>
				<tbody>
					<tr class="header">
						<td class="chapter_number">%c%</td>
						<td class="chapter_title">%chapter_title%</td>
					</tr>
					<tr>
						<td class="key_concepts">
							<div>
								KEY CONCEPTS%key_concepts%{
								<p><a target="_blank" href="https://www.macmillanhighered.com/BrainHoney/Resource/6716/digital_first_content/trunk/test/hillis2e/hillis2e_ch%c0%_%concept_id%.html">%concept_number%</a>%concept_title%</p>}%key_concepts%
							</div>
						</td>
						<td class="opening_image">
							<img src="./%img_title%">
							<div>%img_caption%</div>
						</td>
					</tr>
				</tbody>
			</table>%paragraphs%{
			<p%paragraph_class%>%paragraph_text%</p>}%paragraphs% %do_question%{%question%{
			<div class="question">
				<span class="q"><span><span>Q</span></span></span>
				<span><p>%question_text%</p></span>
			</div>
			<div class="question_text">You will find the answer to this question in <a href="https://www.macmillanhighered.com/BrainHoney/Resource/6716/digital_first_content/trunk/test/hillis2e/hillis2e_ch%c0%_%question_concept_id%.html">Section %question_concept_number%</a>.</div>}%question%}%do_question%
		</div>
		<a class="next" href="https://www.macmillanhighered.com/BrainHoney/Resource/6716/digital_first_content/trunk/test/hillis2e/hillis2e_ch%c0%_2.html">Next</a>
		<br>
	</body>
</html>
